<h1>Welcome</h1>
<img src="./favicon.png" class="eye">
<% flash.keys.each do |type| %>
  <div class="flash <%= type %>">
    <%= flash[type] %>
    <a class="close-button" href="#">x</a>
  </div>
<% end %>

<ul class="entrance">
<% if session[:user_id] %>

  <a href="/" />Sign out</a>

<% else %>

  <div class="signs">
    <a href="/sign-in" />Sign In</a>
    <a href="/sign-up" />Sign Up</a>
  </div>

<% end %>
</ul>
