<% if session[:user_id] %>



<h1>New Post</h1>

<form action="/new-post" method="post" enctype="multipart/form-data">
  <p>Title:</p>
  <input type="text" name="title" class="title" placeholder="Title">
  <p>Content:</p>
  <textarea name="content" rows="10" cols="30" class="content" placeholder="Enter Content Here..."></textarea>
  <p>Image:</p>
  <input type="file" name="image" class="image" placeholder="Image" required>
  <input type="submit" value="Go" href="/profile">
</form>

<% else %>

<h1>You must be signed in to view this page</h1>
<a href="/">Home</a>

<% end %>
