<h1>New Post</h1>

<form action="/new-post" method="get">
  <input type="text" name="title" id="title" placeholder="Title">
  <input type="text" name="content" id="content" placeholder="Content">
  <input type="file" name="imgupload" id="fileupload" placeholder="Image">
  <input type="submit" value="Go">
</form>
