<% if session[:user_id] %>



<h1>New Post</h1>

<form action="/new-post" method="post">
  <input type="text" name="title" class="title" placeholder="Title">
  <input type="text" name="content" class="content" placeholder="Content">
  <input type="file" name="image" class="image" placeholder="Image">
  <input type="submit" value="Go" href="/profile">
</form>

<% else %>

<h1>You must be signed in to view this page</h1>
<a href="/">Home</a>

<% end %>
