  <% if @results %>
  <ul>
    <% @results.each do |result| %>
    <li><%=result.username%></li>
    <% end %>
    <% end %>

  <% if @results != nil %>
  <h1>We did not find any results for <%= @search %></h1>

  <% end %>
