  <% if @results %>
  <table>
    <%@results.each do |r|%>
    <tr>
      <td><%=r.username%></td>
    </tr>
    <%end%>
  </table>
  <% if @results != nil %>
  <h1>We did not find any results for <%= @search %></h1>
    <% end %>
  <% end %>
