<h1>Sign In</h1>

<form action="/sign-in" method="post">
  <input type="email" name="email" id="email" placeholder="Email">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Go" href="/profile">
</form>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '123835925144625',
      xfbml      : true,
      version    : 'v3.0'
    });

    FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
});

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

   function statusChangeCallback(response){
     if(response.status === 'connected'){
       console.log('logged in')
     } else {
       console.log('it did not work')
     }
   }
   function checkLoginState() {
FB.getLoginStatus(function(response) {
  statusChangeCallback(response);
});
}
</script>

<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
