
<h1>Sign Up</h1>

<form action="/sign-up" method="post">
  <input type="text" name="username" id="firstname" placeholder="First Name">
  <input type="text" name="lastname" id="lastname" placeholder="Last Name">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="email" name="email" id="email" placeholder="Email">
  <input type="date" name="birthday" id="birthday" placeholder="Birthday">
  <select name="gender" id="gender">
    <option>Male</option>
    <option>Female</option>
  </select>
  <input type="file" name="pro-pic" id="pro-pic" placeholder="Profile Picture">
  <input type="submit" value="Go" href="/profile">
</form>
