body {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.signs {
  position: absolute;
  top: 55%;
  left: 40%;
  width: 20%;
  a {
    border: 2px solid black;
    text-align: center;
    font-size: 200%;
    text-decoration: none;
  }
}
.eye {
  position: absolute;
  margin: auto;
  top: 15%;
  right: 0;
  left: 0;
  width: 20%;
}
input[type=text], input[type=email], input[type=password] {
  width: 20%;
  height: 40px;
  border: 1px solid black;
}
input[type=file] {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
}
input[type=date]{
  height: 40px;
  border: 1px solid black;
}
input[type=file]:hover {
  cursor: pointer;
}
input[type=submit] {
  height: 40px;
}
input[type=submit]:hover {
  cursor: pointer;
}
.new-post-btn:hover {
  cursor: pointer;
}
.propic {
  width: 10%;
}
.enter-phrase {
  color: purple;
}
.posts {
  li {
    list-style-type: none;
    
  }
}
