body {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.signs {
  position: absolute;
  top: 55%;
  left: 40%;
  width: 20%;
  a {
    border: 2px solid black;
    text-align: center;
    font-size: 200%;
    text-decoration: none;
  }
}
.eye {
  position: absolute;
  margin: auto;
  top: 15%;
  right: 0;
  left: 0;
  width: 20%;
}
// input[type=text], input[type=email], input[type=password] {
//   width: 20%;
//   height: 40px;
//   border: 1px solid black;
// }
// input[type=file] {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   border: 1px solid black;
// }
// input[type=date]{
//   height: 40px;
//   border: 1px solid black;
// }
// input[type=file]:hover {
//   cursor: pointer;
// }
// input[type=submit] {
//   height: 40px;
// }
input[type=submit]:hover {
  cursor: pointer;
}
.new-post-btn:hover {
  cursor: pointer;
}
.propic {
  width: 10%;
}
.enter-phrase {
  color: purple;
}
.posts {
  display: flex;
  .post-tile {
    width: 30%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
  }
  li {
    list-style-type: none;
    display: inline-grid;
    width: 30%;
  }
  .post-title {
    font-size: 150%;
  }
  .post-image {
    width: 50%;
  }
}
input[type=text], input[type=file], input[type=date], input[type=password], input[type=email], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] {
    width: 50%;
    background-color: purple;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

input[type=submit]:hover {
    opacity: 0.6;
}
.post-tile {
  width: 30%;
}
